.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(230, 22%, 74%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
    background: linear-gradient(hsl(225, 100%, 98%) 32%, white 19%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.navbar{
  margin: 0 190px;
  padding: 0 15px 10px;
  // background-color:  hsl(225, 100%, 98%);
}
.navbar-brand{
  font-weight: 700;
}
.box{
  padding: 35px 50px 35px;
  background-color:  linear gradient(hsl(225, 100%, 98%),  hsl(0, 0%, 100%));
}

.content{
  display: flex;
  flex-wrap: wrap;
  margin:0;
  margin-top: 40px;

}
.container{
  display: flex;
  flex-wrap: wrap;
  // margin: 0 0;
  max-width: 1440px;
  padding:0;
}
h1{
  font-weight: 700;
}
.main {
  // height: 300px;
  width: 338px;
  text-align: center;
  border-top: 5px solid black;
  margin: 10px 10px;
  border-radius: 6px;
  padding:25px;
  background-color:   hsl(227, 47%, 96%);
  cursor: pointer;

}

.main:hover{
  background-color: hsl(227, 47%, 96%);
}
.name{
  display: inline-block;
}
.top{
  // margin-top: 25px;
}
.bottom{
  bottom: 20px;
}
.youtube{
  border-color: hsl(348, 97%, 39%);
}
.instagram{
  border: none;
  background: linear-gradient(90deg, rgba(253,196,104,1) 0%, rgba(114,9,121,1) 86%, rgba(223,73,150,1) 100%)!important;
  padding:0;
  // padding

}
.facebook{
  border-color: hsl(208, 92%, 53%);
}
.twitter{
  border-color: hsl(203, 89%, 53%);
}
.ig{
  margin-top:5px;
  // height: 95%;
  bottom: 0;
  padding:25px;
  // padding-bottom: 0;
  background-color:   hsl(227, 47%, 96%);
  cursor: pointer;
}
.sub{
  width: 338px;
  text-align: center;
  // border-top: 5px solid black;
  margin: 10px 10px;
  // border-radius: 6px;
  padding:25px;
  background-color:   hsl(227, 47%, 96%);
  cursor: pointer;

}
.sub:hover{
    background-color: hsl(227, 47%, 96%);
}
.up{
  // justify-content: space-between;
  // flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    h5{
      font-weight: 500;
    }
}
.down{
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  h3{
  display: inline-block;
  font-weight: 550;
  }
  div{
    display: inline-block;
  }
}
h6{
  display: inline-block;
}
section{
  padding: 0 184px 0;
  // display: flex;
}
.cont{
  display: flex;
  flex-wrap: wrap;
}
.logo{
  position: relative;
  right: 0;
  height: 17px;
  display: inline-block;

}
h5{
  position: relative;
  // width: 50%;
  left: 0;
  display: inline-block;
}
.green{
  color: hsl(163, 72%, 41%);
}
.red{
  color: hsl(356, 69%, 56%);
}
